# Python
__pycache__/
*.pyc
*.pyd
*.pyo
.Python/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.pkl
*.log

# Conda environments
.conda/
.condarc
.venv/
env/
venv/
*siya_env*/ # Ignored specific Conda env folder if created directly in project
.ipynb_checkpoints/ # Jupyter notebooks

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
.env
*.csv
output.csv